

h1{
  text-align: center;
}

img{
    margin: 50px 50px ;
 width: 300px;
 border-radius: 15px;
}
video{
    width: 300px;
    border-radius: 15px;
    margin: 50px 50px ;
}

.accordion{
    max-width: 500px;
}

.accordion-body{

 display: flex;
 flex-direction: column;

}


footer {
    text-align: center;
  }
